.sobre-festival {
    padding: 5rem 0;
    @include tablet {
        @include grid (2, $separacion);
    }

    .contenido-descripcion {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h3 {
        display: flex;
        flex-direction: column;

        span {
            padding-top: 5rem;
            color: $rosa;
            font-size: 2.5rem;
        }
    }

    .texto {
        line-height: 1.5;
    }
}
